//colors
$white: #ffffff;
$black: #111111;
$primary-color: #742601;
$secondary-color: #A0522D;
$background-color: #F5F5DC;
//typography
$fontSM: 0.75rem;
$fontBase: 1rem;
$fontLarge: 1.3rem;
$fontXL: 2.5rem;
$fontBold: 600;
$fontRegular: 400;
//border
$borderSmall: 1px;
$borderBold: 3px;
//onHover
$hoverButton: 10%;